<link rel="stylesheet" data-th-href="@{/static/assets/custom/bootstrap/css/bootstrap.min.css}">
<link rel="stylesheet" data-th-href="@{/static/assets/custom/font-awesome/css/font-awesome.min.css}">
<link rel="stylesheet" data-th-href="@{/static/assets/custom/linearicons/style.css}">
<link rel="stylesheet" data-th-href="@{/static/assets/custom/chartist/css/chartist-custom.css}">


<link rel="stylesheet" data-th-href="@{/static/assets/bootstrap-table/bootstrap-table.css}">
<link rel="stylesheet" data-th-href="@{/static/assets/bootstrap-table/extensions/fixed-columns/bootstrap-table-fixed-columns.css}">
<link rel="stylesheet" data-th-href="@{/static/assets/custom/bootstrap-checkbox/awesome-bootstrap-checkbox.css}">
<link rel="stylesheet" data-th-href="@{/static/assets/custom/bootstrap-checkbox/font-awesome.css}">
<link rel="stylesheet" data-th-href="@{/static/assets/bootstrap-table/extensions/jquery-treegrid/css/jquery.treegrid.css}">

<!--<link rel="stylesheet" data-th-href="@{/static/assets/zTree/css/zTreeStyle/zTreeStyle.css}">-->
<link rel="stylesheet" data-th-href="@{/static/assets/zTree/css/metroStyle/metroStyle.css}">

<link rel="stylesheet" data-th-href="@{/static/assets/custom/toastr/toastr.css}">

<!-- MAIN CSS -->
<link rel="stylesheet" data-th-href="@{/static/assets/css/main.css}">
<!-- FOR DEMO PURPOSES ONLY. You should remove this in your project -->
<link rel="stylesheet" data-th-href="@{/static/assets/css/demo.css}">
<link rel="stylesheet" data-th-href="@{/static/assets/css/ssm.css}">




<!--<script data-th-src="@{/static/assets/custom/jquery/jquery.min.js}"></script>-->
<script data-th-src="@{/static/assets/custom/jquery/jquery-3.3.1.js}"></script>
<!--<script data-th-src="@{/static/assets/custom/jquery/jquery-1.11.3.min.js}"></script>-->
<script data-th-src="@{/static/assets/custom/bootstrap/js/bootstrap.min.js}"></script>
<script data-th-src="@{/static/assets/custom/jquery-slimscroll/jquery.slimscroll.min.js}"></script>
<script data-th-src="@{/static/assets/custom/jquery.easy-pie-chart/jquery.easypiechart.min.js}"></script>
<script data-th-src="@{/static/assets/custom/chartist/js/chartist.min.js}"></script>
<script data-th-src="@{/static/assets/scripts/klorofil-common.js}"></script>

<script data-th-src="@{/static/assets/bootstrap-table/bootstrap-table.js}"></script>
<script data-th-src="@{/static/assets/bootstrap-table/extensions/toolbar/bootstrap-table-toolbar.js}"></script>
<script data-th-src="@{/static/assets/bootstrap-table/extensions/treegrid/bootstrap-table-treegrid.js}"></script>
<script data-th-src="@{/static/assets/bootstrap-table/extensions/jquery-treegrid/js/jquery.treegrid.js}"></script>
<script data-th-src="@{/static/assets/bootstrap-table/locale/bootstrap-table-zh-CN.js}"></script>
<script data-th-src="@{/static/assets/bootstrap-table/extensions/fixed-columns/bootstrap-table-fixed-columns.js}"></script>
<script data-th-src="@{/static/assets/bootstrap-table/extensions/export/bootstrap-table-export.js}"></script>

<script data-th-src="@{/static/assets/bootstrap-table/extensions/tableExport/tableExport.js}"></script>
<script data-th-src="@{/static/assets/bootstrap-table/extensions/tableExport/libs/pdfmake/pdfmake.min.js}"></script>
<script data-th-src="@{/static/assets/bootstrap-table/extensions/tableExport/libs/pdfmake/vfs_fonts.js}"></script>
<script data-th-src="@{/static/assets/bootstrap-table/extensions/tableExport/libs/FileSaver/FileSaver.min.js}"></script>
<script data-th-src="@{/static/assets/bootstrap-table/extensions/tableExport/libs/jsPDF/jspdf.min.js}"></script>
<script data-th-src="@{/static/assets/bootstrap-table/extensions/tableExport/libs/jsPDF-AutoTable/jspdf.plugin.autotable.js}"></script>
<script data-th-src="@{/static/assets/bootstrap-table/extensions/tableExport/tableExport.js}"></script>

<script data-th-src="@{/static/assets/zTree/js/jquery.ztree.all.js}"></script>

<script data-th-src="@{/static/assets/custom/toastr/toastr.js}"></script>



<script >
    var contextPath = "[[${#httpServletRequest.getContextPath()}]]";
    console.log(contextPath);
</script>
<script data-th-src="@{/static/js/common.js}"></script>


